@charset "UTF-8";
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*나눔스퀘어 네오*/
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('/fonts/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('/fonts/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

/*지마켓산스*/
@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight:normal;
    src: url(/fonts/GmarketSans/GmarketSansMedium.woff) format('woff')
}
@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/GmarketSans/GmarketSansLight.woff) format('woff')
}
@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight:bold;
    src: url(/fonts/GmarketSans/GmarketSansBold.woff) format('woff')
}

